body{
  background-color: black;
}

h1 {
  font-size: 40px;
  color: skyblue;
  text-align: center;
}

h4 {
  color: white;
  text-align: center;
}

.js-clock {
  margin-top: 200px;
}

.js-form {
  text-align: center;
}

.js-toDoForm {
  text-align: center;
}

.js-toDoList {
  text-align: center;
  list-style: none;
}

.js-toDoList > li {
  color: white;
}

.js-weather {
  text-align: right;
  color: white;
}

.clicked {
  color: #7f8c8d;
}

.form,
.greetings {
  display: none;
}

.showing {
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.8;
  }
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn .7s linear;
  opacity: 0.7;
}
